<?xml version="1.0" encoding="UTF-8"?>
<!-- Settings isolati per questo progetto personale: usa solo Maven Central, ignora ~/.m2/settings.xml aziendale -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
</settings>
